@import "../../assets/styles/index.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 70px 70px 0 50px;
  background: $color-primary;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 50px);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  cursor: url(cat.svg) 2 2, default;
  user-select: none;

  &__photo {
    height: auto;
    max-width: 100%;
    z-index: 1;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    color: $color-main-text;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.3;
    flex-grow: 1;
  }

  &__name {
    text-align: start;
    font-size: 54px;
    white-space: pre-wrap;
  }

  &__years {
    margin-top: auto;
    margin-bottom: 30px;
    font-size: 26px;
    * {
      margin-bottom: 10px;
      text-align: end;
    }
  }

  &__gradient {
    color: transparent;
    background: linear-gradient(
      270deg,
      #662433,
      #91ebeb 14.47%,
      #a7858d 42.82%,
      #89e6e6 54.09%,
      #9d767f 62.54%,
      #834f5b 72.58%,
      #5c1625 90.54%,
      $color-main-text 97.05%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: title-gradient 25s linear infinite alternate;
  }
}

@media screen and (max-width: $laptop-small) {
  .header {
    &__photo {
      max-width: 400px;
    }
  }
}

@media screen and (max-width: $tablet-large) {
  .header {
    padding: 50px 50px 0 40px;
    &__name {
      font-size: 48px;
    }

    &__years {
      margin-top: auto;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: $tablet-default) {
  .header {
    &__photo {
      max-width: 300px;
    }

    &__name {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: $tablet-small) {
  .header {
    flex-direction: column;
    min-height: auto;
    margin-bottom: 50px;

    &__photo {
      margin-left: auto;
      margin-right: auto;
    }

    &__name {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .header {
    padding: 40px 40px 0 20px;

    &__name {
      font-size: 36px;
    }
  }
}
