.base-icon {
  display: inline-flex;
  transition: transform $transition-default;

  transform: rotate(var(--rotate));

  width: var(--size);
  height: var(--size);

  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
