@import "../../assets/styles/index.scss";

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $color-primary;
  color: $color-main-text;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  height: 250px;
  padding: 60px 32px;

  &__name {
    margin-bottom: 15px;
  }

  &__email {
    font-weight: 700;
    text-decoration: none;
    color: inherit;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
