.section {
  padding: 120px;

  @media screen and (max-width: $laptop-small) {
    padding: 70px;
  }

  @media screen and (max-width: $tablet-default) {
    padding: 50px;
  }

  @media screen and (max-width: $mobile) {
    padding: 20px;
    padding-top: 0;
  }

  @media screen and (min-width: $ultra_desktop) {
    padding-left: 350px;
    padding-right: 350px;
  }
}

.section-name {
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
  color: $color-main-text;
  margin-right: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 2s, opacity 2s;

  @media screen and (max-width: $tablet-large) {
    font-size: 30px;
  }
}
