@font-face {
  font-family: "Tuffy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("@/assets/fonts/TuffyScript-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Tuffy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("@/assets/fonts/Tuffy-Bold.ttf") format("ttf"),
    url("@/assets/fonts/Tuffy-Bold.otf") format("otf");
}

@font-face {
  font-family: "Tuffy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("@/assets/fonts/Tuffy.ttf") format("ttf"),
    url("@/assets/fonts/Tuffy.otf") format("otf");
}
