$color-card-bg: #f1f1f1;
$color-beige: #f3f4f4;
$color-grey-text: #535050;
$color-black: #000000;
$color-white: #ffff;
$color-main-text: #4d0011;
$color-primary: #8eb9ff;

//Breakpoints
$mobile: 480px;
$tablet-small: 768px;
$tablet-default: 925px;
$tablet-large: 1024px;
$laptop-small: 1280px;
$ultra_desktop: 1920px;
